{% extends 'base.html' %}

{% block content %}
  
  <form method="post">
    
    
  </form>

  <div class="reservation-form">
    <div class="container">
      <div class="row">
        <center>
        <div class="col-lg-6">
        <div class="col-lg-12" style="background-color: #22b3c1; border-top-left-radius:30px; border-top-right-radius:30px;">
            <h2>تأكيد إعادة تعيين كلمة المرور</h2>
</div>
  <form id="reservation-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col-lg-12">
        <button type="submit">تأكيد</button>
      
</div>
  </form>
</div>
</center>
  </div>
  </div>
</div>
{% endblock %}
