{% extends 'base.html' %}  
{% load static %}

{% block content %}  



  <!-- ***** Main Banner Area Start ***** -->
  <div class="about-main-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <div class="blur-bg"></div>
            <div class="line-dec"></div>
            <h2 style= "background-color: rgb(18, 176, 250); border-radius: 23px;
            border: #22b3c1;
            border: 4px;">مرحبا بكم في منصة وصل</h2>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  
  <div class="cities-town">
    <div class="container">
      <div class="row">
        <div class="slider-content">
          <div class="row">
            <div class="col-lg-12">
              <h2>منصة وصل  </h2>
              <h4 style="color: black ;font-size: 20px;">يعتبر المشروع عبارة عن منصة تجمع بين أصحاب الافكار لمشاريع متنوعة والمستثمرين المتبنين لهذه الافكار
                هو مشروع يهدف إلى إنشاء بيئة افتراضية تجمع بين الاشخاص الذين لديهم أفكار إبداعية ومشاريع والمستثمرين 
                الذين يبحثون عن فرص استثمارية، تتيح هذه المنصة ألصحاب الافكار تقديم مشاريعهم ووصفها بشكل مفصل 
                وإبراز فوائدها ومزاياها التنافسية.
                تهدف هذه المنصة إلى تسهيل وتسريع عملية الاتصال والتعاون بين أصحاب الافكار والمستثمرين، وتعزيز فرص
                ًضا على تعزيز التنمية الاقتصادية
                النجاح للمشاريع الواعدة وتوفير فرص استثمارية مجدية للمستثمرين.
                
              </h4>
              <br>
              <br>


              <h2>فريق العمل</h2>
            </div>
            <div class="col-lg-12">
               <div class="owl-cites-town owl-carousel"> 
                <div class="item">
                  <div class="thumb">
                    <img src="{% static 'assets/images/yousef.jpg' %}" alt="">

                    <p style="color: black ;font-size: 14px;">يوسف اليعبري</p>
                    <p></p>
                    <p style="color: black ;font-size: 14px;">775999573</p>
                    <p style="color: black ;font-size: 14px;">الايميل: yousef2277@gmail.com</p>
                  </div>
                </div>
                <div class="item">
                  <div class="thumb">
                    <img src="{% static 'assets/images/amjed.jpg' %}" alt="">

                    <p style="color: black ;font-size: 14px;"> امجد الرمالة </p>
                    <p></p>
                    <p style="color: black ;font-size: 14px;">774908059</p>
                    <p style="color: black ;font-size: 14px;">الايميل: amjdalrmalh63@gmail.com</p>
                  </div>
                </div>
                <div class="item">
                  <div class="thumb">
                    <img src="{% static 'assets/images/sltan.jpg' %}" alt="">

                    <p style="color: black ;font-size: 14px;"> سلطان الحمري </p>
                    <p></p>
                    <p style="color: black ;font-size: 14px;">773903799</p>
                    <p style="color: black ;font-size: 14px;">الايميل: salhmry339@gmail.com</p>
                  </div>
                </div>
                <div class="item">
                  <div class="thumb">
                    <img src="{% static 'assets/images/bakr.jpg' %}" alt="">

                    <p style="color: black ;font-size: 14px;">  بكر المريسي</p>
                    <p></p>
                    <p style="color: black ;font-size: 14px;">779135111</p>
                    <p style="color: black ;font-size: 14px;">الايميل: baker2020@gmail.com</p>
                  </div>
                </div>
                <div class="item">
                  <div class="thumb">
                    <img src="{% static 'assets/images/youns.jpg' %}" alt="">

                    <p style="color: black ;font-size: 14px;"> يونس عقلان</p>
                    <p></p>
                    <p style="color: black ;font-size: 14px;">772633382</p>
                    <p style="color: black ;font-size: 14px;">الايميل: ywnklan@gmail.com</p>
                  </div>
                </div>
                
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weekly-offers">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>منصة وصل هي تجربة مميزة ورائدة في عالم الاعمال والاستثمار
            <p style="color: black ;font-size: 18px;">فهي تجمع بين الابتكار والتقنية الحديثة لتوفير افضل الحلول لمالكين المشروع والمستثمرين على حد سواء تعتبر هذه المنصة مثالا رائعا على كيفية الجمع بين الرؤية والابتكار والتكنولوجيا لانشاء منصة تعزز التواصل وتسهل عملية الاستثمار</p>
             </h2>
          </div>
        </div>
      </div>
    </div>

    
    <h2>مميزات هذه المنصة</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-weekly-offers owl-carousel">
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/about-2mg.jpg' %}" alt="">
                <div class="text">
                  <h4>عرض الفرص الاستثمرية<br><span><i class=></i> </span></h4>
                  <h6><br><span></span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li></li>
                    <li><i class=></i> تتيح المنصة للمبدعين وأصحاب المشاريع</li>
                    <li><i class=></i>  الناشئة عرض فكرتهم او مشروعهم بشكل 
                      مفصل وشامل لمن هو مهتم فقط ، ويمكنهم</li>
                    <li><i class=></i> توضيح األهداف والمعايير المالية والمخاطر
                      المحتملة والتقديرات المالية المرتقبة</li>
                  </ul>
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/about-4mg.jpg' %}" alt="">
                <div class="text">
                  <h4>الشفافية<br><span><i class=></i></span></h4>
                  <h6><br><span></span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li></li>
                    <br>
                    <li><i class=></i> تعزز المنصة الشفافية من خلال توفير</li>
                    <br>
                    <li><i class=></i>  معلومات مفصلة ودقيقة لكل فرصة استثمارية</li>
                    <br>
                     <li><i class=></i> </li>
                  </ul>
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/about-3mg.jpg' %}" alt="">
                <div class="text">
                  <h4>سهولة الاستخدام<br><span><i class=></i> </span></h4>
                  <h6><br><span></span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li></li>
                    <br>
                    <li><i class=></i> تتيح المنصة سهولة في الاستخدام من خلال</li>
                    <br>                     
                    <li><i class=></i> توفير واجهات رسومية سهلة الاستخدام</li>
                    <br>
                    <li><i class=></i> </li>
                  </ul>
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/about-5mg.jpg' %}" alt="">
                <div class="text">
                  <h4>الامان<br><span><i class=></i></span></h4>
                  <h6><br><span></span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li></li>
                    <br>
                    <li><i class=></i> تهتم المنصة بحماية بيانات المستخدم</li>
                    <br>
                    <li><i class=></i> وتقديم بيئة امنة وموثوقة لجميع الاطراف</li>
                    <br>
                    
                  
                    <li><i class=></i> </li>
                  </ul>
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/about-1mg.jpg' %}" alt="">
                <div class="text">
                  <h4> بحث واستكشاف<br><span><i class=></i> </span></h4>
                  <h6><br><span></span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li></li>
                    
                    <li><i class=></i> توفر المنصة أدو ات بحث للمستثمرين</li>

                    <li><i class=></i> الستعراض الفرص االستثمارية المتاحة</li>
                    <br>

                    <li><i class=></i> واختيار المشروع حسب المعايير التي
                      يريدوها</li>                    <br>

                  </ul>
                  
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="more-about">
    <div class="container">
      <div class="row">
        
       
          
          
      </div>
    </div>
    <div class="containerr">
      <div class="box11">  
        <h2>اهداف هذه المنصة</h2>
      <p style="color: black ;font-size: 18px;">1- توفير فرص استثمارية مبتكرة وواعدة في مجالات مختلفة للمستثمرين.
      </p>
      <p style="color: black ;font-size: 18px;">2- تسهيل عملية الاستثمار وتحسين نتائجه من خلال استخدام التكنولوجيا الحديثة.
      </p>
      <p style="color: black ;font-size: 18px;">3- تعزيز التواصل بين المستثمرين وأصحاب المشاريع المبتكرة.
      </p>
      <p style="color: black ;font-size: 18px;">4- تحسين مستوى الشفافية والثقة في عملية الاستثمار.
      </p>
      <p style="color: black ;font-size: 18px;">5- دعم رواد الأعمال والمشاريع الناشئة في تحقيق أهدافهم وتطوير أعمالهم.
      </p>
      <p style="color: black ;font-size: 18px;">6- المساهمة في دفع عجلة التنمية والازدهار في المجتمع.
      </p>
        </div>
        
      <div class="box22">  
        <h2> رسالتنا</h2>
        <p style="color: black ;font-size: 18px;">رسالتنا في منصة وصل هي تمكين الأفراد والمؤسسات من الوصول إلى فرص استثمارية مبتكرة وواعدة، وتسهيل عملية الاستثمار وتحسين نتائجها من خلال استخدام التكنولوجيا الحديثة. نحن نؤمن بأن الاستثمار المبتكر يمكن أن يحدث تغييرًا إيجابيًا في المجتمع ويساهم في دفع عجلة التنمية والازدهار. لذلك، نعمل بجد لتوفير فرص استثمارية مثمرة وموثوقة للمستثمرين ودعم رواد الأعمال والمشاريع الناشئة في تحقيق أهدافهم وتطوير أعمالهم.</p>
      
      </div>

    </div>
  </div>

  
    
            
            
            
        
        
        
      
    
  
<!-- 
  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2></h2>
          <h4>Make A Reservation By Clicking The Button</h4>
        </div>
        <div class="col-lg-4">
          <div class="border-button">
            <a href="reservation.html">Book Yours Now</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}