{% extends 'base.html'%}
{% load static %}
{% block content %}
<section>


    <div class="card">
        <div class="card-header">
            <h3 class="card-title">الشروط والأحكام</h3>   
        </div>
        <p style="font-size: 30px; color: #00218f; margin: auto;"><b><u>الاحكام والشروط</u></b></p>
        <br>
        <p style="font-size: 20px;direction: rtl;"><b>
        <ol>
            <li>تمهيد:
إن منصة وصل وُجدت لخلق بيئة جاذبه سهلة الاستخدام بدون قيود او شروط معقده، وتقديم حلول متكاملة لأصحاب المشاريع.

وتبعاً لذلك يرجى قراءة ما يلي بعناية، حيث أنه باستخدامك لخدماتنا فإنك توافق على جميع ما ذُكر في الشروط والأحكام الخاصة بالمنصة وهو تأكيد لالتزامك بأنظمتها لذلك يجب عليك عدم استخدام المنصة في حال لم تكن موافقاً على الشروط والأحكام.
 يحق للمنصة في تعديل أو تغير هذه الشروط والأحكام دون إخطار مسبق حيث أنه يجب عليك كمستخدم للمنصة الاطلاع بشكل مستمر على الشروط والأحكام لمعرفه أي تحديثات تتم عليها من خلال زيارة موقعنا (اضافة الرابط).

            </li>
        </ol>
        </b>
        </p>
        <br>
        <p style="font-size: 25px; color: #00218f; margin: auto;"><u><b>البند الأول (تمهيد):</b></u></p>
        <p style="font-size: 15px; color: #000;direction: rtl;"><b>ان التمهيد السابق جزء لا يتجزأ من شروط وأحكام الاستخدام.
        </b></p>
        <p style="font-size: 25px; color: #00218f; margin: auto;"><u><b>البند الثاني (تعريفات): </b></u></p>
        <br>
        <p style="font-size: 15px; color: #000;direction: rtl;"> <b>لمنصة وصل.
            المستخدم أو المستخدمين: الشخص الطبيعي أو المعنوي من رواد الأعمال والمستثمرين الذي قاموا بتقديم طلب التسجيل على المنصة وتم قبول طلبهم.
            الخدمة أو الخدمات: ما تقدمها المنصة من خدمات على موقعها الالكتروني وما يتعلق عنها وما يتفرع عنها.
            المستثمر: الشخص (الطبيعي أو الاعتباري) الذي دخل مع منصة المستثمرين في اتفاقية استثمار والموافق عليه من قبل منصة وصل لاستخدام خدماتها كمستثمر مؤهل لشراء الأسهم التي يتم عرضها بواسطة أي من الشركات المدرجة في المنصة. وأي تعديلات تطرأ عليه.
            </b></p>
            <br>
            <p style="font-size: 25px; color: #00218f; margin: auto;"><u><b>البند الثالث (طبيعة التزام المنصة):
            </b></u></p>
            <p style="font-size: 15px; color: #000;direction: rtl;"><b> تلتزم المنصة اتجاه المستخدمين بتوفير خدمات ذات جوده عالية على سبيل المثال (إيجاد بيئة الكترونيه امنه).
                تلتزم المنصة ومن يمثلها بأن تكون خدماتها سليمه وشرعية وفقاً للقوانين والأنظمة المعمول بها باليمن .
                لا تتحمل المنصة أي مطالبات أو خطأ أو اهمال نشئ نتيجة خطأ مباشر وغير مباشر أو عرضي أو عن طريق طرف ثالث.
               </b></p>
               <br>
               <p style="font-size: 25px; color: #00218f;margin: auto;"><u><b>البند الرابع (ضوابط استخدام المنصة):
            </b></u></p>
            <p style="font-size: 15px; color: #000;direction: rtl;"><b>يلتزم المستخدم باستخدام المنصة الإلكترونية الخاصة المستثمرين بما يتفق مع الآداب العامة والامتثال لجميع القوانين واللوائح المعمول بها في اليمن.
                الامتناع عن توفير او تحميل ملفات او روابط تحتوي على بيانات تالفه او معلومات او روابط تحتوي على فيروسات او مواد اخرى ليست مملوكه لك كمستخدم او لا تملك ترخيصا بشأنها.
                يمنع نقل او نسخ او استخدام اي من المحتويات الخاصة بالمنصة او انشاء اي روابط مشابهه او عرض اي من محتواها داخل المنصة فان قيامك بذلك يحملك جميع التبعات النظامية.
                الامتناع عن استخدام اي برنامج او وسيله او اي اجراء لاعتراض او محاولة عرقله التشغيل الصحيح للمنصة
                على المستخدم تقديم جميع البيانات والمعلومات الخاصة به الصحيحة وتحديثها بشكل مستمر ان لزم ذلك.
                الموافقة على تبادل جزء من المعلومات الخاصة بين الشركات التي سيتم التقاعد والعمل معها داخل المنصة.
                على المستخدم المحافظة على اسم المستخدم وكلمة المرور الخاصة بحسابه او اي وسيلة تعريف تقدمها المنصة للمستخدم.
                ان لزم الامر، على المستخدم أن يقدم للمنصة كافة الدلائل التي تثبت هويته كمستخدم وفقا لتقدير المنصة الخاصة.
                </b></p>
                <br>
                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الخامس (التسجيل والتزاماته):
                </b></u></p>
                <p style="font-size: 15px; color: #000;direction: rtl;"><b>يكون التقدم بإجراءات التسجيل الموضحة في الموقع الالكتروني للمنصة، ولا يعتد باي اجراء غير ذلك.
                    عند إتمام إجراءات التسجيل وفي حال استلام بريد إلكتروني يفيد تأكيد تسجيل الحساب؛ فإن قبول التسجيل يكون معلق بموافقة المنصة.
                    يحق للمنصة رفض تسجيل أي متقدم بطلب التسجيل وبدون اشعار برفض طلب التسجيل، وللمنصة الحق بالتحقق من بيانات أو معلومات طلب التسجيل، وللمنصة الحق بالاستعانة بطرف ثالث يقوم بالتحقق من هذه البيانات أو المعلومات.
                    المنصة متاحة فقط للمستخدمين الذي يتمتعون بالأهلية الشرعية والقانونية للاستفادة من خدمات المنصة، ويتحمل المستخدم لوحده المسئولية عن ثبوت خلاف ذلك.
                    فور التسجيل في المنصة يكون المستخدم ملزما بالإفصاح عن جميع ما تطلبه المنصة من معلومات وبيانات مما يرجى معه تحري الدقة والصحة خلال عمليه التسجيل، وبذلك يكون المستخدم موافقا على ما يلي:
                    أ. المحافظة على سريه معلومات حسابه وسريه كلمه المرور، ويكون موافقا على اعلام المنصة حالا باي استخدام غير مفوض به لمعلومات حسابه او اي اختراق اخر لمعلوماته، وعلى المستخدم إعلام المنصة بشكل فوري في حال حدوث ذلك.
                    ب. عدم الإفصاح عن معلومات سريه خارج المنصة مالم يتأكد من هويه الشخص او الطرف المستقبل للمعلومات، في حال حدث ذلك المنصة غير مسؤوله عن اي تباعات قد تقع نتيجة هذا الافصاح.
                    ت. لن تكون المنصة باي حال من الاحوال مسؤوله عن اي خسارة قد تلحق بالمستخدم بشكل مباشر او غير مباشر معنويا او ماديا نتيجة كشف معلومات اسم المستخدم او كلمه المرور.
                    ث. الالتزام باستخدام حسابه بنفسه وعدم السماح بمشاركه اسم المستخدم او كلمه المرور من الطرق للوصل بالمنصة حيث إنك مسؤولا عنها مسؤوليه كامله، وفي حال استخدام الغير للحساب فهذه قرينه على تفويضه باستخدام المنصة باسم المستخدم.
                    ج. الالتزام بالجدية والمصداقية عند استخدام المنصة
                    ح. الالتزام بالإفصاح عن معلومات حقيقة وصحيحة ومحدثة كاملة حسب ما هو مطلوب اثناء التسجيل.
                    خ. تلتزم المنصة بالتعامل مع معلومات المستخدم الشخصية وعناوين الاتصال بسريه تامه.
                    ر. يحق للمستخدم الوصول الى بياناته الشخصية لدى المنصة وذلك بالاطلاع عليها وطلب تصحيحها او اتمامها او تحديثها.
                    ز. إذا تبين لدى المنصة أن المستخدم قام بالإفصاح عن بيانات او معلومات غير صحيحه او غير حقيقيه او غير كامله او غير قانونيه ومخالفه لما هو منصوصا عليه الشروط والاحكام فانه يحق للمنصة ايقاف او تجميد او اغلاق الحساب الخاص بالمستخدم دون الحاق الاضرار بحقوق المنصة ووسائلها المشروعة في استرداد حقوقها وحماية باقي المستخدمين.
                    </b></p>
                    <br>
                    <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند السادس (المراسلات والاتصالات الإلكترونية ووسائل الاتصال الرسمي):
                    </b></u>
                    </p>
                    <p style="font-size: 15px; color: #000;direction: rtl;"><b> يوافق أطراف هذه الاتفاقية على ان التواصل يتم عبر المنصة وعبر وسائل التواصل المسجلة بداخل المنصة الخاصة بالمنصة
                        يوافق المستخدم ان جميع الاتفاقيات والاعلانات والبيانات والاتصالات الاخرى التي يتم تزويدها له الكترونيا من قبل المنصة أو المجموعة تقوم مقام مثيلاتها المكتوبة وهي حجه قائمه بذاتها بتنمية الاحتياجات النظامية الشرعية.
                        يوافق المستخدم على امكانيه التواصل معه وتبليغه باي احكام تخص هذه الاتفاقية او تخص التعامل معه من خلال قيام المنصة او المجموعة ببث رسائل عامه ترد الى كافة المستخدمين أو الى مستخدمين محددين بالمنصة.
                        </b></p>
                        <br>
                        <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند السابع (حدود المسؤولية):
                        </b></u></p>
                        <p style="font-size: 15px; color: #000;direction: rtl;"><b>الخدمات الإلكترونية التي تقدمها المنصة عبر الانترنت والحصول على المعلومات بشأن ربط العلاقة التعاقدية بين المستخدمين يتم فقط لتسهيل الاجراءات اليدوية وبهذا يقر المستخدم بعلمه الكامل بان الاتصالات عبر شبكه الانترنت قد تتعرض للتدخل او الاعتراض بواسطة الغير.
                            ان المنصة غير مسؤوله بشكل او باخر تحت اي ظرف من الظروف عن اي ضرر مباشر او غير مباشر او الاضرار العرضية او التبعية او الخاصة او الاستثنائية عند استخدام او عدم القدرة على استخدام المنصة، أو الناتجة عن المحتوى أو الخدمات الموجودة على المنصة، بما في ذلك على سبيل المثال لا الحصر:
                            أ. الأضرار الناتجة عن الخسائر في الأرباح أو العائدات.
                            ب. الأضرار الناتجة عن البيانات التالفة أو المفقودة.
                            ت. الأضرار الناتجة عن الفيروسات وغيرها من البرامج والبيانات المضرة.
                            ث. الأضرار الناتجة عن شبكات وصفحات الإنترنت.
                            ج. أي أضرار ناتجة عن خسائر اقتصادية أو تجارية.
                            ح. الأضرار الناتجة عن قرارات يتخذها أي طرف وذلك اعتماداً على الخدمة أو محتواها أو نتائجها.
                            ر. أي أضرار نتجت عن تأخير أو فشل أو انقطاع أو تلف في أي بيانات أو معلومات يتم إرسالها وتتعلق باستخدام الخدمة.
                            ز. أي أضرار ناتجة عن معلومات غير دقيقة أو أخطاء أو نسيان ومتعلقة بالمحتوى والخدمات المقدمة على المنصة.
                            </b></p>
                            <br>
                            <p  style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الثامن (مسؤوليات المنصة):</b></u></p>
                            <p style="font-size: 15px; color: #000;direction: rtl;"><b>الحفاظ على الصلاحيات والتراخيص النظامية لمزاولة نشاطها واستمرارها بتقديم الخدمة.
                                الحفاظ على جميع المحتويات من بيانات ومعلومات ومستندات ووثائق والتي تم عرضها وتقديمها من خلال المنصة وتم الحصول عليها من رائد الأعمال، ويجوز للمنصة الرجوع الى رائد الأعمال في حال وجود اي بيانات او معلومات او مستندات او وثائق غير صحيحة او دقيقة.
                                إشعار المستخدم فوراً بأي تغيرات تطرأ على المعلومات أو البيانات أو المستندات أو الوثائق المقدمة من قبله ضمن حملته الاستثمارية على الموقع الإلكتروني، وكذلك بأي مسائل مهمة كان يجب تقديمها، وذلك فور حدوث التغيير وفور ظهور تلك المسائل المهمة.
                                أحقية المستخدم دون أي مسؤولية على المنصة بالانسحاب من الاستثمار واستعادة أي مبلغ دفعه كمقابل للاستثمار في الأحوال التي تطرأ فيها تغييرات جوهرية بشأن الشركة محل الاستثمار أو نشاطها (ولم تكن معلومة او مُفصح عنها من قبل) وذلك خلال 14 يوم منذ تاريخ إبلاغ المنصة او المجموعة المستخدم بتلك التغييرات الجوهرية وذلك بما يتوافق مع السياسات والآليات المتبعة من قبل المنصة.
                                بذل أقصى الجهد المعقول لضمان سريان الحملة الاستثمارية وإتمامها بنجاح بما يتوافق مع السياسات والإجراءات المتبعة في المنصة.
                                </b></p>
                                <br>
                                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند التاسع (دقة المعلومات):</b></u></p>
                                <p style="font-size: 15px; color: #000;direction: rtl;"><b>ان مسؤولية صحة ودقة وحداثة ومدى اكتمال جميع المعلومات والبيانات المطلوبة من المستخدم والتي قام بإدخالها بعد الانتهاء من إجراءات تسجيل المستخدم والموافقة على هذه الشروط والأحكام، جميعها تقع مسؤوليتها على عاتق المستخدم الذي قام بإدخالها ، كما يتحمل المستخدم مسؤولية الحفاظ على صحة ودقة وكمال وتحديث هذه المعلومات أثناء استخدام المنصة، وفي حال قيام المستخدم بتقديم معلومات غير صحيحة أو غير دقيقة أو غير حديثة أو غير مكتملة أو أن ترى المنصة -لأسباب معقولة- أن هذه المعلومات غير صحيحة أو غير دقيقة أو غير حديثة أو غير مكتملة؛ فإن المنصة لديها الحق في إيقاف أو تعليق أو إنهاء حساب المستخدم، كما أنها تمتلك الحق في رفض جميع الاستخدامات أو جزء منها والتي يقوم المستخدم بها على المنصة أو الخدمة سواءً كانت حالية أو مستقبلية؛ تعتمد المنصة باستخدام وحماية المعلومات والبيانات الخاصة بالمستخدم وفقا لسياسة الخصوصية الخاصة بها والتي تعد هذه الشروط والأحكام جزء لا يتجزأ منها.
                                </b></p>
                                <br>
                                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند العاشر (الاختصاص الجغرافي):</b></u></p>
                                <p style="font-size: 15px; color: #000;direction: rtl;"><b>ان المنصة لا تضمن أن يكون المحتوى المقدم على الموقع الإلكتروني لهذه المنصة مناسباً لأن يقدم خارج اليمن، وتقع مسؤولية الأضرار والمخاطر التي نتجت عن دخول المستخدم على المنصة من خارج اليمن واستخدم خدمات ومحتويات المنصة، كما يتحمل كل مستخدم مسؤولية الامتثال وتطبيق قوانين الدولة المتواجد عليها.
                                </b></p>
                                <br>
                                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الحادي عشر (تعويضات):</b></u></p>
                                <p style="font-size: 15px; color: #000;direction: rtl;"><b>يقر ويوافق المستخدم على عدم اتخاذ اي اجراء من شانه الاضرار بالمنصة او اي من اداراتها وتعويضها وتأمينها من المسؤولية وذلك من كافة الالتزامات والمسؤوليات التي قد تطرأ او تنشأ عن اي اخلال من جانب المستخدم من مخالفه بنود الشروط واحكام الاستخدام أو أفشاء أو افصاح او نقل أية اسرار ومعلومات للغير ونحوه يتم ارتكابها من قبل المستخدم أو مخالفة القوانين والأنظمة السارية في المملكة العربية السعودية.</b></p>
                                <br>
                                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الثاني عشر (معلوماتك الشخصية ومعلومات تفاصيل العمليات):
                                </b></u></p>
                                <p style="font-size: 15px; color: #000;direction: rtl;"><b>يقر ويوافق المستخدم على انه منح المنصة حقا غير مشروط وعالمي ودائم وغير قابل للإلغاء ومعفي من المصاريف ومرخص باستخدام المعلومات او المواد الشخصية او صور العرض الخاصة به في المنصة بغرض التسويق عبر عرضها في موقع المستثمرين الرسمي او عبر اي رسالة الكترونيه او اي قنوات تواصل خاصه بالمنصة وذلك بهدف تحقيق اي من المصالح التي تراها اداره المنصة (للإدارة وجهة نظر).

                                    ب‌. تخضع احكام سريه المعلومات الخاصة بالمستخدمين لقواعد (سياسة الخصوصية وسريه المعلومات الخاص بالمنصة) ولما وردا في هذه الاتفاقية من احكام متعلقة بسريه المعلومات.
                                    </b></p>
                                    <br>
                                    <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الثالث عشر (الملكية الفكرية):</b></u></p>
                                    <p style="font-size: 15px; color: #000;direction: rtl;"><b>ان جميع المواد الموجودة في المنصة سواء كانت معلومات او برمجيات (المحتويات) جميعها محميه بموجب حقوق النشر والعلامة التجارية وحقوق الملكية الفكرية سواء كانت قبل تأسيس هذه المنصة او بعد تأسيسها. 

                                        ب‌.  يحترم المستخدم حقوق الملكية الفكرية الخاصة بالمنصة و التي من ضمنها (اسم المنصة باللوقو) نفسها، و الكلمات و الاشعارات ، و الرموز الاخرى الخاصة بالمنصة  او المعروضة عبر المنصة حيث ان المنصة  وكل حق يتبع المستثمرين هي حقوق مملوكة ملكية فكرية كاملة للمجموعة.
                                        </b></p>
                                        <br>
                                        <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الرابع عشر (سريه المعلومات):</b></u></p>
                                        <p style="font-size: 15px; color: #000;direction: rtl;"><b> لا بد الاخذ في الحسبان ان شبكه الانترنت وسيله ليست امنه وسهله الاختراق، فيقر المستخدم  بانه على علم بذلك ويوافق على ان سرية معلوماته الشخصية لا يمكن ان تكون مضمونه 100% عبر المنصة.

                                            ب‌. ان المنصة تتخذ معايير ملموسة ومنظمة لحماية مستخدميها لمنع وصول لاي طرف اخر غير مسموح له بالوصول لمعلومات المستخدم الشخصية.
                                            
                                            ت‌. ان المنصة تخلي مسؤولياتها من وصول اي طرف ثالث او الغير او من يدعي انه يمثل المستخدم عن طريق اي وسائل الاختراق عبر شبكه الانترنت.
                                            
                                            ث. يقر ويعلم المستخدم ان المنصة تستخدم معلوماته التي تم تزويدها بها بهدف (--------) وان الخصوصية في المنصة تضبط عمليات الجمع والمعالجة والاستخدام لمعلومات هوية المستخدم الشخصية، وتخضع قواعد سريه المعلومات لـ (سريه الخصوصية وسريه المعلومات) الخاصة بالمنصة.
                                            </b></p>
                                            <br>
                                            <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الخامس عشر (حقوق المستثمر):
                                            </b></u></p>
                                            <p style="font-size: 15px; color: #000;direction: rtl;"><b> يحق للمستخدم – المستثمر – الاستثمار المباشر في الشركات المسجلة في المنصة والمتاح الاستثمار فيها.

                                                ب‌. يحق للمستخدم -المستثمر- جميع الحقوق التي يتيحها له نظام الشركات للشركاء والمساهمين، مثل الحصول على الأرباح أو على توزيع الأرباح المقرة من مجلس إدارة الشركة، حضور الجمعيات العمومية والتصويت عليها، وأي حقوق للشركاء أو المساهمين والتي وردت في نظام الشركات الصادر من وزارة التجارة.
                                                </b></p>
                                                <br>
                                                <br>
                                                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند السادس عشر (انهاء الاستخدام او الغاء الحساب):</b></u></p>
                                                <p style="font-size: 15px; color: #000;direction: rtl;"><b>يجوز للمنصة وحسب سلطتها المطلقة على وقف او الغاء او تقييد او ايقاف حق المستخدم بالدخول على المنصة واستخدام الخدمات التي توفرها في اي وقت دون اشعار ولاي سبب بما في ذلك مخالفه الشروط والاحكام او اي سلوك اخر قد يعتبر غير قانوني او اي عمل مضر بالآخرين وذلك يكون حسب تقدير اداره المنصة، وفي حالة الغاء الحساب فانه يصبح المستخدم الذي الغي حسابه غير مصرح له بالدخول للمنصة.
                                                </b></p>
                                                <br>
                                                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند السابع عشر (القانون والمرجعية الخطية):</b></u></p>
                                                <p style="font-size: 15px; color: #000;direction: rtl;"><b>ان الاتفاقية وضعت بناء على الأنظمة والقوانين المعمول بها في المملكة العربية السعودية وبهذا يكون المستخدم قد اقر ووافق على الخضوع لجميع أنظمة ولوائح المملكة العربية السعودية وصلاحيات السلطات القضائية كافة فيما يتعلق بجميع المطالبات او الخلافات التي قد تنشا عن استعمال المستخدم للمنصة او سوء استخدامه.
                                                </b></p>
                                                <br>
                                                <p style="font-size: 25px;color: #00218f;margin: auto;"><u><b>البند الثامن عشر (الحماية من الفيروسات):</b></u></p>
                                                <p style="font-size: 15px; color: #000;direction: rtl;"><b>يجب على المستخدم أن يكون لديه برامج خاصه مضادة للفيروسات بداخل جهازه والتصفح بطريقه امنة، فالمنصة لا تعتبر مسؤوله وتخلي مسؤوليتها عند خسارة او اتلاف او انقطاع او تغير لبيانات المستخدم نتيجة اختراق او فيروسات قد تقع بداخل جهازه نتيجة تصفحه بطريقه غير امنه.
                                                </b></p>

        
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                </section>
                {% endblock %}