{% extends 'base.html' %}
{% load static %}

{% block title %}
deals
{% endblock %}

{% block content %}


<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 style="color: aliceblue;  font-size: 60px; ">استثمر في المشروع المناسب </h1>
          <h2>امتلك اي مشروع او اشتري اسهم فية  </h2>
          <div class="border-button"><a href="about.html"><h1> تواصل معنا</h1></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-heading text-center">
    <h2><p1 style="color:darkblue; width: 20px; height: 100px;"></p1><br> <br>
    <p></p>
  </div>
  
  <!-- <div class="container">
    <div class="row">
      {% for project in projects %}
      <div class="col-lg-6 project-item" data-category="{% if project.category %}{{ project.category.category }}{% else %}none{% endif %}">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              {% if project.images.all %}
                <div class="image-container">
                  {% for image in project.images.all %}
                    <img src="{{ image.image.url }}" alt="Project Image">
                  {% endfor %}
                </div>
              {% else %}
                {% if project.image %}
                  <div class="image" style="background-image: url('{{ project.image.url }}');  "></div>
                {% else %}
                  <div class="image" style="background-color: #881782; height: 100%;"></div>
                {% endif %}
              {% endif %}
            </div>
    
            <div class="col-lg-6 align-self-center">
              <div class="content">
                <span class="info">اسم المشروع: {{ project.title }}</span>
                <h4>التكلفة المقدرة: {{ project.cost }}</h4>
    
                <div class="row">
                  <div class="col-6">
                    <i class="fa fa-clock"></i>
                    <span class="list">تصنيف المشروع</span>
                    <div class="value" style="text-align: center; font-size: large;">{{ project.category }}</div>
                  </div>
                  <div class="col-6">
                    <i class="fa fa-map"></i>
                    <span class="list">موقع المشروع</span>
                    <div class="value" style="text-align: center; font-size: large;">{{ project.address }}</div>
                  </div>
                </div>
    
                <p>
                  <span class="list">وصف المشروع</span>
                  {{ project.discripe|safe }}
                </p>
    
                <div class="main-button">
                  <a href="{% url 'invreq' %}">الاستثمار في المشروع</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    
    </div>
  </div>
   -->
        <div class="call-to-action">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <h2>هل تبحث عن مشاريع للاستثمار فيها وربح  المال من خلال المساهمة في المشاريع؟</h2>
                <h1>قم بالاعلان عن مشروعك لايجاد المستثمرين  </h1>
              </div>
              <div class="col-lg-4">
                <div class="border-button">
                  <a href="{% url 'invreq' %}">اسعار باقات</a>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}  