{% extends 'base.html' %}
{% block title %}
edit
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
	<main>
		<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {{form}}

			<button type="submit">Save Changes</button>
		</form>
	</main>
    <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    h1 {
        margin: 0;
    }
    
    main {
        padding: 20px;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-top: 10px;
    }
    
    input[type="text"],
    textarea,
    input[type="date"],
    input[type="number"] {
        padding: 10px;
        margin-top: 5px;
        border: none;
        border-radius: 5px;
    }
    
    button[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #555;
    }
    </style>
    

{% endblock %}
