{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<br>
<br>

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <li class="{{ message.tags }}">{{ message }}</li>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
{% endfor %}
  <section id="section-1">
    <div class="content-slider">
      {% for promo_request in promo_requests %}
        <input type="radio" id="banner{{ forloop.counter }}" class="sec-1-input" name="banner" {% if forloop.first %}checked{% endif %}>
      {% endfor %}
      <div class="slider">
        {% for promo_request in promo_requests %}
          <div id="top-banner-{{ forloop.counter }}" class="banner" style="background-image: url('{{ promo_request.project.image.url }}'); background-position: center center; height: 100%;">
                
                  
            <div class="banner-inner-wrapper header-text">
              <div class="main-caption">
                <h1>{{ promo_request.project.title }}</h1>
                <h1>{{ promo_request.project.discripe }}</h1>
                <div class="border-button"><a href="{% url 'deals' %}">الاستثمار في المشروع</a></div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="more-info">
                      <div class="row">

                        <div class="col-lg-3 col-sm-6 col-6" style="flex: 0 0 auto;
                                              width: 20%;" >
                          <i class="fa fa-map"></i>
                          <h4><span>  موقع المشروع:</span><br>{{ promo_request.project.address }}<em></em></h4>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6" style="flex: 0 0 auto;
                                              width: 20%;" >
                          <i class="fa fa-globe"></i>
                          <h4><span> تصنيف المشروع :</span><br>{{ promo_request.project.category }}<em></em></h4>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6" style="flex: 0 0 auto;
                                              width: 20%;" >
                          <i class="fa fa-home"></i>
                          <h4><span>  التكلفة المقدرة :</span><br>{{ promo_request.project.cost }}</h4>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6" style="flex: 0 0 auto;
                                              width: 20%;">
                          <i class="fa fa-user"></i>
                          <h4><span>  اسم المشروع:</span><br>{{ promo_request.project.title }}</h4>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-6" style="flex: 0 0 auto;
                                              width: 20%;" >
                          <div class="main-button">
                            <a href="{% url 'deals' %}">قراءة المزيد</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <nav>
        <div class="controls">
          {% for promo_request in promo_requests %}
            <label for="banner{{ forloop.counter }}"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">{{ forloop.counter }}</span></label>
          {% endfor %}
        </div>
      </nav>
   </div>
  </section>
  
  <div class="amazing-deals">
  <div class="container">
    <div class="row">
    
      <div class="containerrr">
        <div class="box11">  
          <h2> لماذا منصة وصل ؟</h2>
        <p style="color: black ;font-size: 18px;">1.      توفير فرص استثمارية مبتكرة وواعدة:

          <br>
          - توفير فرص استثمارية متنوعة للمستثمرين.
          <br>
 - تعزيز تنويع محفظة الاستثمارات وزيادة الفرص لتحقيق عوائد مجزية.


          


          
        </p>
        <p style="color: black ;font-size: 18px;"> 2. تسهيل عملية الاستثمار وتحسين نتائجها:<br>
          - استخدام التكنولوجيا لتسهيل عمليات الاستثمار.<br>
          - تحسين تجربة المستثمر وفعالية استخدام المنصة
       

          .
        </p>
        <p style="color: black ;font-size: 18px;">3. تعزيز التواصل بين المستثمرين وأصحاب المشاريع:<br>
          - إنشاء بيئة تواصل فعالة بين المستثمرين ورواد الأعمال.<br>
          - تعزيز التفاعل والتعاون لتحقيق المشاريع.

          .
        </p>
        <p style="color: black ;font-size: 18px;">4. تحسين مستوى الشفافية والثقة:<br>
          - رفع مستوى الشفافية في عمليات الاستثمار.<br>
          - بناء ثقة المستثمرين وتحفيز مشاركتهم.
       

        
        </p>
        <p style="color: black ;font-size: 18px;">5. دعم رواد الأعمال والمشاريع الناشئة:<br>
          - تقديم الدعم والموارد لرواد الأعمال والمشاريع الناشئة.<br>
          - تعزيز نجاحها وتطوير أعمالها على المدى الطويل.
       
          .
        </p>
        
          </div>
          
        <div class="box22">  
           <!-- الديف الرئيسي -->
      <div class="main-containerrrr">
      
      </div>
         
        </div>
  
      </div>
      
     
      
        <!-- الديف الرئيسي -->
        <div class="main-container">
          {% if request.user.owner %}
          <!-- القطعة الأولى -->
          <div class="info-blockk">
            <div class="info-text">قدم طلبك للحصول على استثمار
              هل تبحث عن تمويل يساعد بنمو شركتك ويحقق أهدافك  </div>
            <a href="{% url 'reservation' %}" class="info-linkk">ارفع مشروع  </a>
          </div>
          {% elif request.user.investor %}
          <!-- القطعة الثانية -->
          <div class="info-blockk">
            <div class="info-text"> قم بااستكشاف افضل واخر الفرص الاستثمارية المتاحة وكن جزءًا من إحدى الشركات الواعدة</div>
            <a href="/explore_opportunities" class="info-linkk"> استثمر</a>
          </div>
          {% endif %}
        </div>
     
       

<div class="search-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form id="new-filter-form" method="get" style="direction: rtl;">
          <div class="row">
            <div class="col-lg-2">
              <h4 style="color: #000000;">عرض بواسطة:</h4>
            </div>
            <div class="col-lg-4">
              <select name="category" class="form-select" aria-label="Default select example" id="categories">
                <option selected>التصنيف</option>

                <option value="all" style=" text-align:center;">الكل</option>
                {% for category in categories %}
                  <option value="{{ category.category }}">{{ category.category }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-4">
              <fieldset>
                <select name="category" class="form-select" aria-label="Default select example" id="categories">
                  <option selected> التكلفة</option>
                  <option value="all" style=" text-align:center;">الكل</option>
                  {% for project in projects %}
                  <option value="{{ project.cost }}">{{ project.cost }}</option>
                {% endfor %}
                      
                  </select>
              </fieldset>
          </div>

            <div class="col-lg-2">
              <button type="submit" class="btn btn-primary">عرض</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="col-lg-6 project-item" id="project{{ project.id }}" data-category="{% if project.category %}{{ project.category.category }}{% else %}none{% endif %}">
        <!-- تفاصيل المشروع -->
        <div class="item">
            <div class="row">
                <div class="col-lg-6">
                    {% if project.image %}
                    <div class="image" style="background-image: url('{{ project.image.url }}');  "></div>
                    {% else %}
                    <div class="image" style="background-color: #881782; height: 100%;"></div>
                    {% endif %}
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="content">
                      <span class="info">اسم المشروع: {{ project.title }}         &nbsp;   &nbsp;        التقييم: {{ project.average_rating }}</span>
                      <!-- شرط للتحقق من وجود متوسط التقييم -->
                      
                      
                      


                        <h4>التكلفة المقدرة: {{ project.cost }}</h4>
                        <div class="row">
                            <div class="col-6">
                                <i class="fa fa-clock"></i>
                                <span class="list">تصنيف المشروع</span>
                                <div class="value" style="text-align: center; font-size: large;">{{ project.category }}</div>
                            </div>
                            <div class="col-6">
                                <i class="fa fa-map"></i>
                                <span class="list">موقع المشروع</span>
                                <div class="value" style="text-align: center; font-size: large;">{{ project.address }}</div>
                            </div>
                        </div>
        
                        <p >
                          <span class="list">وصف المشروع</span>
                       
                          {{ project.discripe|safe }}
                      </p>
                      
                       
        
                        <div class="main-button1" >
                          <a href="{% url 'invreq' project.id %}">الاستثمار في المشروع</a>
                          <a href="{% url 'project_detail' project.id %}">  تعليقات حول المشروع</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

  <div class="my-5 text-center">
    <button id="load-more-btn" class="bg-Primary hover:bg-Primary/90 border-2 border-Primary text-StaticWhite focus:outline-Primary-300 transition-colors ease-in-out duration-300 rounded-lg p-2 outline-offset-2 text-center w-2/3 max-w-xs md:py-3" type="button">
      <div class="text-lg md:text-xl" style="background-color: #22b3c1; font-size: 14px; color: #22b3c1; background-color: #eee; border: 1px solid #22b3c1; padding: 12px 30px; display: inline-block; border-radius: 25px; font-weight: 500; text-transform: capitalize; letter-spacing: 0.5px; transition: all .3s; position: relative; overflow: hidden;">عرض المزيد</div>
    </button>
  </div>
</div>
<script>
  $(document).ready(function() {
      $('#load-more-btn').click(function() {
          // العدد الكلي من المشاريع
          var totalProjectsCount = $('.project-item').length;

          // العدد من المشاريع المخفية بعد الستة الأولى
          var hiddenProjectsCount = $('.project-item:hidden').length;

          // العدد الكلي من المشاريع التي سيتم عرضها بعد النقر على الزر
          var projectsToShow = Math.min(totalProjectsCount, hiddenProjectsCount + 6);

          // إظهار المشاريع التي تحتاج إلى الظهور
          $('.project-item:hidden').slice(0, projectsToShow - hiddenProjectsCount).slideDown();

          // إخفاء الزر إذا تم عرض جميع المشاريع
          if (projectsToShow >= totalProjectsCount) {
              $('#load-more-btn').hide();
          }
      });

      // إظهار الزر إذا كانت هناك مشاريع مخفية لعرضها
      if ($('.project-item:hidden').length > 0) {
          $('#load-more-btn').show();
      } else {
          $('#load-more-btn').hide();
      }
  });
</script>





        
</div>
</div></div>

<div class="call-to-action2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <h2>لدينا</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-3">
        <div class="count-area-content percentage text-center">
          <div class="count-digit">{{ total_investmentrequest }}</div>
          <div class="count-title">نجاح الاستثمار</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="count-area-content text-center">
          <div class="count-digit">{{ total_owners }}</div>
          <div class="count-title">رواد مشاريع</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="count-area-content new-students text-center">
          <div class="count-digit">{{ total_investor }}</div>
          <div class="count-title">مستثمرين</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="count-area-content text-center">
          <div class="count-digit">{{ total_projects }}</div>
          <div class="count-title">مشاريع</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>هل تبحث عن مشاريع للاستثمار فيها وربح المال من خلال المساهمة في المشاريع؟</h2>
        <h1>قم بالاعلان عن مشروعك لايجاد المستثمرين -> </h1>
      </div>
      <div class="col-lg-4">
        <div class="border-button">
          <a href="reservation.html">اسعار باقات</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

document.getElementById('new-filter-form').addEventListener('submit', function (event) {
  event.preventDefault(); // منع السلوك الافتراضي لتقديم النموذج

  const selectedCategory = document.getElementById('categories').value;

  projectItems.forEach(item => {
    const itemCategory = item.dataset.category;

    if (itemCategory === selectedCategory || selectedCategory === 'all') {
      item.style.display = 'block';
    } else {
      item.style.display = 'none';
    }
  });
});


</script>

<script>
  const categoryLinks = document.querySelectorAll('.category-link');
  const projectItems = document.querySelectorAll('.project-item');

  categoryLinks.forEach(link => {
    link.addEventListener('click', (event) => {
      event.preventDefault();
      const selectedCategory = link.dataset.category;

      projectItems.forEach(item => {
        const itemCategory = item.dataset.category;

        if (itemCategory === selectedCategory || selectedCategory === 'all') {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });

      // إظهار المشروعات غير المصنفة
      if (selectedCategory === 'all') {
        projectItems.forEach(item => {
          item.style.display = 'block';
        });
      } else {
        // إظهار المشروعات غير المصنفة للتصنيف المحدد
        projectItems.forEach(item => {
          const itemCategory = item.dataset.category;
          if (!itemCategory) {
            item.style.display = 'block';
          }
        });
      }
    });
  });
  document.addEventListener('DOMContentLoaded', function() {
  var projectItems = document.querySelectorAll('.project-item');
  projectItems.forEach(function(projectItem) {
    projectItem.addEventListener('click', function() {
      var projectId = this.id.replace('project', ''); // يحصل على معرف المشروع
      window.location.href = '/project_detail/' + projectId + '/'; // توجيه المستخدم إلى صفحة تفاصيل المشروع
    });
  });
});


</script>

<style>
  .btn:focus {
    color: var(--bs-btn-hover-color);
    background-color: #22b3c1;
    border-color: #22b3c1;
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}
.search-form {
      background-color: #22b3c1;
      border-bottom-left-radius: 23px;
      border-bottom-right-radius: 23px;
      padding: 35px 60px;
      margin-bottom: 20px;
    }

    .search-form h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-top: 10px;
      
    }

    .search-form select {
      background-color: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      border-bottom: 1px solid #fff;
      border-radius: 0px;
      color: #fff;
      font-size: 15px;
      font-weight: 300;
      width: 100%;
      cursor: pointer;
    }

    .search-form option {
      background-color: #1ea0ad;
    }

    .search-form button {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 8px 30px;
      display: inline-block;
      border-radius: 25px;
      font-weight: 500;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      transition: all .3s;
      position: relative;
      overflow: hidden;
    }

    .search-form button:hover {
      background-color: #fff;
      color: #22b3c1;
    }
  
 
  
  .images {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* .image img {
    width: 100%;j
    height: 100%;
    height: -webkit-fill-available;

    object-fit: cover;
} */

  /* تنسيق الديف الرئيسي */
  .main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* يوضع المحتوى في المنتصف على محور التوزيع الرأسي */
    padding: 20px;
    background-color: #ffffff;
    /* لون الخلفية */
  }

  .info-text:focus {
    background: rgb(208, 143, 58);
    transform: scale(1.1);
  }

  /* تنسيق القطعة */
  .info-blockk {
    text-align: center;
    padding: 20px;
    border: 2px solid #f7f7f7;
    /* لون الحدود */
    border-radius: 10px;
    width: 300px;
    /* عرض القطعة */
    height: 250px;
    /* ارتفاع القطعة */
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* تنسيق النصوص */
  .info-text {
    font-size: 22px;
    margin-bottom: 10px;
    color: #000000;
    /* لون النص */
  }

  /* تنسيق الروابط */
  .info-linkk {
    text-decoration: none;
    background-color: #22b3c1;
    /* لون الخلفية */
    color: #fff;
    /* لون النص */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .info-linkk:hover {
    background-color: #afafaf;
    /* لون الخلفية عند التحويل */
  }
 
  
  .our-facts h2 {
    font-size: 38px;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .count-area-content {
    text-align: center;
    background-color: rgba(250,250,250,0.15);
    border-radius: 20px;
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
  }
  
  .percentage .count-digit:after {
    content: '';
    margin-left: 3px;
  }
  
  .count-digit {
      margin: 5px 0px;
      color: #f5a425;
      font-weight: 700;
      font-size: 36px;
  }
  .count-title {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 0.5px;
  }
  
  .new-students {
    margin-top: 14px;
  }
  
  
  .our-facts h2 {
    font-size: 38px;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .count-area-content {
    text-align: center;
    background-color: rgba(250,250,250,0.15);
    border-radius: 20px;
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
  }
  
  .percentage .count-digit:after {
    content: '';
    margin-left: 3px;
  }
  
  .count-digit {
      margin: 5px 0px;
      color: #f5a425;
      font-weight: 700;
      font-size: 36px;
  }
  .count-title {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 0.5px;
  }
  
  .new-students {
    margin-top: 14px;
  }


/* 

  .rating-section {
    margin-top: 20px;
}

.ratings-list {
    list-style: none;
    padding: 0;
}

.ratings-list li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.rating-info {
    display: flex;
    align-items: center;
}

.rating-info p {
    margin-right: 10px;
}

.comment {
    margin-top: 10px;
} */
.main-button1 a {
    font-size: 14px;
    color: #fff;
    background-color: #22b3c1;
    border: 1px solid #22b3c1;
    padding: 15px 8px;
    display: inline;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

  </style>   
  
{% endblock %}

<h1>am</h1>