{% load static %}
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav" style="padding: initial;">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'assets/images/mylogo.png' %}" alt="">
                    </a>
                    
                    <ul class="nav">
                        <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"> الرئيسية</a></li>
                        <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">عن وصل</a></li>
                    
                        {% if request.user.is_authenticated %}

                            
                                                  
                            {% if request.user.owner %}
                                <!-- لمالك المشروع -->
                                <li><a href="{% url 'profile' %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">حسابي</a></li>
                                <li><a href="{% url 'logout' %}">تسجيل خروج</a></li>
                                <li><a href="{% url 'reservation' %}" class=" {% if request.resolver_match.url_name == 'reservation' %}active{% endif %} ">اضف مشروع</a></li>
                                <li><a href="{% url 'services' %}" class=" {% if request.resolver_match.url_name == 'services' %}active{% endif %} "> الخدمات</a></li>

                            {% elif request.user.investor %}
                                <!-- للمستثمر -->
                                <li><a href="{% url 'profile' %}" class=" {% if request.resolver_match.url_name == 'profile' %}active{% endif %} "> حسابي</a></li>
                                <li><a href="{% url 'deals' %}" class=" {% if request.resolver_match.url_name == 'deals' %}active{% endif %} ">استثمر</a></li>
                                <li><a href="{% url 'services' %}" class=" {% if request.resolver_match.url_name == 'services' %}active{% endif %} "> الخدمات</a></li>
                                <li><a href="{% url 'logout' %}">تسجيل خروج</a></li>
                            {% endif %}

                            <li>
                                <a href="{% url 'twsl' %}">
                                    {% if unread_count > 0 %}
                                            <i class="fa fa-envelope"></i>
                                        <!-- عند وجود رسائل غير مقروءة -->
                                            <span class="badge badge-danger">{{ unread_count }}</span>
                                    {% else %}
                                          <!-- عند عدم وجود رسائل غير مقروءة -->
                                            <i class="fa fa-envelope-o"></i>
                                    {% endif %}
                                </a>
                            </li>

                        {% else %}
                            <!-- للمستخدمين غير المسجلين -->
                            <li><a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">تسجيل دخول</a></li>
                            <li><a href="{% url 'signup' %}">انشاء حساب</a></li>
                        {% endif %}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
            
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->